<html ng-app="LoginApp">
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 
    <body ng-controller="formController">
        <h1> login form</h1>
        <form ng-submit ="login()">
            Username
            <input type="text" ng-model="username" required>
            <br>
            Password
            <input type="password" ng-model="password" required>
            <br>
            <button type="submit">login</button>
        </form>
        <script>
            var app= angular.module('LoginApp',[]);
            app.controller('formController', function($scope) {
                $scope.login=function(){
                    if($scope.username=='ram' && $scope.password=='ram')
                    {
                        alert('Login Successfull');
                    }
                    else{
                        alert('login unsuccessfull. invalid user name ');
                    }
                };

            });
        </script>
    </body>
</html>
